<div>
        <h1 class= "mah">   chat</h1>

        <input  type="text"  placeholder="write your massege"  ng-model="massege"  class= "main"/>
        <button type="submit"  ng-click="chate()"  class= "mabot" >run</button>
        <div   ng-repeat = "info in infos | orderBy:'createdAt':true"  class="well" style="width: 50%; margin-left: 25%; font-size: 17px">
        <span ng-show="chatBox" >     
          <p>  {{info.user}}</p>
            <p> {{info.chates}} </p>
                <button class=" btn-primary"   ng-click = "delete(info.id); remove() " class="btn btn-primary">delete</button>   
        </span>   
              </div>
              
</div>