body {
	margin: 0;
	padding: 0;
	height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
	margin-top: 120px;
	margin-left: 300px;
	max-width: 600px;
	height: 300px;
	border: 1px solid #9C9C9C;
	background-color: #EAEAEA;
	}
	#logup .container #login-row #login-column #login-box {
		margin-top: 120px;
		margin-left: 300px;
		max-width: 600px;
		height: 450px;
		border: 1px solid #9C9C9C;
		background-color: #EAEAEA;
		}
		#main .container #login-row #login-column #login-box {
			margin-top: 120px;
			margin-left: 300px;
			max-width: 600px;
			height: 200;
			border: 1px solid #9C9C9C;
			background-color: #EAEAEA;
			}
  #login .container #login-row #login-column #login-box #login-form {
	padding: 20px;
  } 
  #login .container #login-row #login-column #login-box #login-form #register-link {
	margin-top: -85px;
	}
	.mah {
    padding: 7px;
    margin-left: 670px;
    width: 200px;
}
.main {
	padding: 7px;
	margin-left: 520px;
	width: 400px;
}
.mabot {
	padding: 5px;
	margin-left: 670px;
	width: 100px;
}


.title{
	color:#4682B4;
}

.mgTp{
	margin-top:10%;
}

.topBtn{
	margin-top:15px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #4682B4 !important;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #4682B4 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #4682B4 !important;
}
.chat{
	margin-top:300px;
}