</br>
</br>

<div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2">
                <img src="https://cdn.clipart.email/5f8afbd09698f753cc2282950d1be233_cute-cartoon-girls-design-vector-07-pinterest-cartoon-girls-_429-500.jpeg"
                alt="" class="img-rounded img-responsive" />
            </div>
            <div class="col-sm-4 col-md-4">
                <blockquote>
                    <h3>Welcome to your profile</h3>
                     <h3>{{user.fullName}}</h3>
                </blockquote>
                <p> <i class="glyphicon glyphicon-envelope"></i> {{user.userName}}
                    <br
                    />
                    <br /> <i class="glyphicon glyphicon-gift"></i>  {{user.phoneNumber}}</p>
                    <h3>update your data here</h3>
</br>
<input  type="text"  placeholder="update your user Name"  ng-model="userName" />
</br>
</br>
<input type="text"  placeholder="update your phone Number"  ng-model="phoneNumber" />
</br>
</br>
<input type="password"  placeholder="update your password"  ng-model="password"/>
</br>
</br>
<input type="text"  placeholder="update your fullName"  ng-model="fullName" />
</br>
</br>
</br>
<button type="submit"  ng-click="update()" >update now</button>
</br>
</br>
</br>
<button type="submit"  ng-click="goTo()" >Chate</button>
</br>
<h1>{{massege}}</h1>
            </div>
         
        </div>
    </div>




